coverage
.github
.circleci
.nyc_output/
node_modules/
.vscode/
junit
.idea
.snyk
*.tgz
build
logs
test
banner.jpeg
test-results.xml
snykmocha.js
.tidelift.yml
.renovaterc.json 
.releaserc.js
.eslintignore
.eslintrc.js
